@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main h1 {
    @apply w-full pb-4 mb-10 text-3xl border-b-2 border-gray-300;
  }
  /* main h2 {
    @apply w-full pb-4 mb-10 text-2xl border-b-2 border-gray-300;
  }
  main h3 {
    @apply w-full pb-4 mb-10 text-xl border-b-2 border-gray-300;
  } */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}